.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  z-index: 1000; 
}

.footer-left {
  display: flex;
  align-items: center;
}

.social-icon {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #f9d3b4;
}

.footer-center {
  display: flex;
  align-items: center;
}

.footer-center p {
  margin: 0 10px;
  text-align: left; 
}
