.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  align-items: center;
}

.social-icon {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #f9d3b4;
}

.footer-center {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-center p {
  margin: 5px 0;
}
