.navbar {
  padding: 10px 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #f9d3b4;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-links li a:hover {
  background-color: #575757;
  border-radius: 4px;
  font-size: 20px;
}

.auth-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #f9d3b4;
}

.auth-links li {
  margin: 10px;
}

.auth-links li a,
.auth-links li button {
  color: #f9d3b4;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-links li a:hover,
.auth-links li button:hover {
  background-color: #575757;
  border-radius: 4px;
  font-size: 20px;
}

.email {
  padding-top: 10px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 8px 15px;
  }

  .nav-links li a {
    font-size: 16px;
    padding: 8px 10px;
  }

  .auth-links li a,
  .auth-links li button {
    font-size: 16px;
    padding: 8px 10px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 6px 10px;
  }

  .nav-links li a {
    font-size: 14px;
    padding: 6px 8px;
  }

  .auth-links li a,
  .auth-links li button {
    font-size: 14px;
    padding: 6px 8px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 5px 8px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  .nav-links li {
    margin: 5px 15px;
  }

  .nav-links li a {
    font-size: 12px;
    padding: 5px;
  }

  .auth-links {
    flex-direction: row;
    align-items: center;
  }

  .auth-links li {
    margin: 5px 15px;
  }

  .auth-links li a,
  .auth-links li button {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 4px 6px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  .nav-links li {
    margin: 4px 12px;
  }

  .nav-links li a {
    font-size: 10px;
    padding: 4px;
  }

  .auth-links {
    flex-direction: row;
    align-items: center;
  }

  .auth-links li {
    margin: 4px 12px;
  }

  .auth-links li a,
  .auth-links li button {
    font-size: 10px;
    padding: 4px;
  }

  .email {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 3px 5px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  .nav-links li {
    margin: 3px 10px;
  }

  .nav-links li a {
    font-size: 8px;
    padding: 3px;
  }

  .auth-links {
    flex-direction: row;
    align-items: center;
  }

  .auth-links li {
    margin: 3px 10px;
  }

  .auth-links li a,
  .auth-links li button {
    font-size: 8px;
    padding: 3px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    padding: 2px 4px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  .nav-links li {
    margin: 2px 8px;
  }

  .nav-links li a {
    font-size: 7px;
    padding: 2px;
  }

  .auth-links {
    flex-direction: row;
    align-items: center;
  }

  .auth-links li {
    margin: 2px 8px;
  }

  .auth-links li a,
  .auth-links li button {
    font-size: 7px;
    padding: 2px;
  }
}
