.navbar {
    padding: 10px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
    
  }
  
  .nav-links li a {
    color: #f9d3b4;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  .nav-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
    font-size: 20px;
  }
  
  .auth-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #f9d3b4;
  }
  
  .auth-links li {
    margin: 10px;
  }
  .email{
    padding-top: 10px;
  }
  
  
  .auth-links li a {
    color: #f9d3b4;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    transition: 0.3s ease-in-out;
  }
  
  .auth-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
    font-size: 20px;
  }
  